.valeursimg {
    height: 50px;
    width : 50px
}
#values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center
}


.imgTeamMember {
    height: 150px;
    width: 100px;
}
p {
    text-align: center
}

#teamMember {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}#teamMember div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
    background: #a0e41998;
    border-radius: 10px;
}


@media only screen and (min-width: 768px) {
    #values {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}
/* footer */
.footer-middle-div{
    display:flex;
    align-items: baseline;
}
.footer-right i {
    padding: 5px;
    color: #9fe419;
}
.footer-middle i {
    padding: 5px;
}
.footer-left a, .footer-middle a {
    color: #9fe419;
    text-decoration: none;
}
.footer-left a:hover, .footer-middle a:hover, .footer-right a i:hover {
    color: white;
}
.footer-right p {
    text-align: center;
}
.footer-left, .footer-right, .footer-middle {
    width: 100%;
}
p.footer-links {
    text-align: center;
}
.footer-left, .footer-middle, .footer-right{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
footer{
    align-items: center;
    background: #343a40;
    color: white;
}

@media screen and (min-width: 768px) {

    .footer-left, .footer-middle, .footer-right{
        display: flex;
        flex-direction: column;
        width: 33%;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    footer{
        align-items: center;
        display: flex;
        justify-content: space-between;
        background: #343a40;
        color: white;
    }
    
}