.valeursimg {
    height: 50px;
    width : 50px
}
#values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center
}
#descriptionteam {
    text-align: justify
}

.imgTeamMember {
    height: 150px;
    width: 100px;
}
p {
    text-align: center
}

#teamMember {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;

}#teamMember div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
    background: #a0e41998;
    border-radius: 10px;
    margin-left: 5%;
    margin-right:5%;
    padding: 2%;

}


@media only screen and (min-width: 768px) {
    #values {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}
