.ourConcept1 {
    margin-left: 25px;
    margin-right: 25px;
}

p {
    text-align: justify;
    text-justify: auto;
}
section.ourConcept1 {
    color: rgba(255, 255, 255, 0.829);
}
#muppet {
    display: none;
}

@media only screen and (min-width: 576px) {
    .concept {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .ourConcept1 {
        width: 50%;
        align-self: center;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .ourConcept2 {
        width: 50%;
        align-self: center;

    }

    img#muppet {
        border-radius: 10px;
        display: block;
        width: 100%;
        height: auto;
        margin-left: 30px;
    }
}