form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    text-align: center;
    padding: 10px;
}

form input {
    width: 300px;
}

form #submit {
    margin-top: 15px;
    width: 70px;
}

#contactInfos {
    text-align: center;
    margin-top: 25px;
}

@media only screen and (min-width: 992px) {
    #pageContact {
        display: flex;
        justify-content: space-around;
    }
}