* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Dosis", serif;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}

h2 {
    margin-bottom: 10 px;
    margin-top: 15 px;
    text-align: center;
    font-size: 3em;
}
footer h3 {
    font-family: 'Lobster', cursive, arial, sans-serif;
}
p {
    margin: 20px;
}
