* {
    padding : 0px;
    margin: 0px;
}


html , body {
    height: 100%;
    width : 100%;
    font-family: 'Dosis', sans-serif;
}
h2 {
    margin-bottom :10 px;
    margin-top: 15 px;
    text-align : center;
    font-size: 3em;
}